#root{
    background-color: darkgrey;
}

h1 {
    height: 60%;
    margin: 0 auto;
}

p {
    color: black;
}

ul {
    padding: 0;
}

li {
    font-size: 20px;
}

.container {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

#header {
    margin: 0 auto;
    width: 960px;
    padding-top: 150px;
    padding-bottom: 5px;
    background-color: lightgrey;
}

#content {
    text-align: center;
}

#navigation {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 100px;
}

#navigation > ul > li {
    display: inline;
    position: relative;
    margin: 0px 20px 10px 0px;
}

#navigation > ul > li:hover > ul {
    display: block;
}

#navigation > ul > li >ul {
    background-color: white;
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
}
