* {
    border: solid 5px indigo;
}
h1 {
    background-color: rgb(174, 0, 255);
    color: tomato;
    padding: 20px 40px 75px;
    height: 60%;
    width: 25%;
    margin: 0 auto;
}

h2 {
    color: hotpink;
}

h3 {
    background-color: cyan;
}

p {
    color: darkcyan;
    background-color: darkred;
}

ul {
    background-color: darkseagreen;
    color: gold;
}

li {
    font-size: 20px;
    color: lawngreen;
    background-color: black;
}

.container {
    max-width: 1080px;
    min-width: 600px;
    margin: 0 auto;
}

.springgreen {
    color: springgreen;
}

.pink {
    background-color: rgb(185, 20, 130);
}

#content {
    background-color: aquamarine;
}